body: {
    padding 0;
}

h1{
    font-size: 150%;
    padding:0;
    background-color: #eee;
    border:0;
    margin:0 0 0.5em 0;
}
h2{
    font-size: 100%;
    padding:0;
    background-color: #eee;
    border:0;
    margin:1em 0 0.5em 0;
}

.vertical-controls{
    position:absolute;
    top:0;
    bottom: 1em;
    left:0;

    width:14em;
    height: 100%;
    text-align: center;
    overflow:auto;
}
.vertical-main-screen{
    position:absolute;
    top:0;
    bottom:1em;
    left:14em;
    right:1em;
    
    padding:0;
    border:0;
    overflow:hidden;
}



.canvas-stack{
    position:relative
}
canvas{
    border:0;
    padding:0;
    position: absolute;
    top:0;
    left:0;
}

#canvas{
    z-index: 0;
}
#canvas-controls{
    z-index: 1;
}

#status-bar{
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-toolbar{
    /*put it on top of others*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align:center;
}
span.tool-group{
    padding:0;
    padding: 0 0.5em 0 0.5em;
    border-left:1px solid gray;
    white-space: nowrap;
}
span.tool-group:first-child {
    border-left: none;
}

button{
    font-size:100%;
    border: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 3px;
    background-color: #ddd;
}

button.left{
    border-radius: 50% 0 0 50%;
    background-color: #ddd;
    margin-right:0;
}

button.right{
    border-radius: 0 50% 50% 0;
    background-color: #ddd;
    margin-left:0;
}


button:hover{
    background-color: #ddf;
}

button.dangerous{
    background-color: #fdd;
}

button.highlighted{
    background-color: #dff;
}

button.state{
    opacity:0.5;
    color:white;
}
button.selected-state{
    opacity:1.0;    
}

button.toggle{
    color: #888;
}


button.pressed{
    color: #000;
    background-color: #afa;
}

.help-button{
    border: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 3px;
    background-color: #ddd;
}

input.short{
    width: 2em;
}
input.mid{
    width: 5em;
}
input.long{
    width: 7em;
}

.critical-value{
    background-color: #fcc;
}


/*popups*/
div.popup{
    z-index:3;
    position: absolute;
    top:1px;
    left:1px;
    bottom:1px;
    right:1px;

    background-color: rgba(0,0,0,0.3);
}
div.popup-box{
    background-color: white;
    width: 40em;
    margin: 0 auto;
}



#fld-custom-rule-code{
    width: 100%;
    height: 20em;
}

div.popup-toolbar{
    text-align:center;
}
#fld-save-url{
    width: 100%;
}

kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  background: hsl(210, 5%, 100%);
  border: 1px solid hsl(210, 5%, 70%);
  border-radius: 2px;
  padding: 2px 4px;
}


div.popup  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

div.popup  td{
    padding: 0.5em 1em 0.5em 1em;
}

div.popup  td.subheader{
    text-align: center;
    background-color: silver;
    font-weight: bold;
}

div.popup  tr:hover{
    background-color:#ddf;
}
