body: {
    padding 0;
}


.vertical-controls{
    position:absolute;
    top:0;
    bottom: 1em;
    left:0;

    width:14em;
}
.vertical-main-screen{
    position:absolute;
    top:0;
    bottom:1em;
    left:14em;
    right:1em;
    
    padding:0;
    border:0;
    overflow:hidden;
}

.canvas-stack{
    position:relative
}
canvas{
    border:0;
    padding:0;
    position: absolute;
    top:0;
    left:0;
}

#canvas{
    z-index: 0;
}
#canvas-controls{
    z-index: 1;
}

#state-selector{
    /*put it on top of others*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
}

button.state{
    border:0;    
}

button.toggle{
    opacity:50%;
    padding:0.5em;
    margin:0;
    border:0;
    border-radius: 3px;

    color: #888;
}
button.toggle:hover{
    border: solid blue 1px;
    margin: -1px;
}

button.pressed{
    color: #000;
}

input.short{
    width: 2em;
}
input.mid{
    width: 5em;
}
input.long{
    width: 7em;
}
